header {
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: right;
    margin-top: 25px;
}

a {
    color: #000;
    text-decoration: none; 
    margin-right: 25px;
}

a:hover {
    text-decoration: underline;
}

section{
    text-align: center;
}

#main-logo {
    width: 300px;
    margin-top: 150px;
}

input {
    width: 550px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #CCC;
    margin-top: 30px;
}

button {
    background-color: #EEE;
    border-width: 1px;
    border-color: #E8E8E8;
    border-style: solid; 
    padding: 10px 15px 10px 15px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
